//Background Colors
$clr-bg-light: #f5f5f5;
$clr-bg-soft-green: #ddf1d6;

// Border Colors
$clr-border-light: 1px solid #d9dad9;

// Text Colors
$clr-text-gray: #505050;

//button
$clr-btn-green:#34816C;

//hover
$clr-hover-gray: rgba(#1f1f1f, 0.08);
$clr-hover-green: #34816C;


$clr-primary: #1879de;
$clr-danger: #d9534f;

//背景色：#A0B79A（莫蘭迪綠）
// 主標題：#4F4F4F（深灰色）
// 副標題/小字：#D1D3D4（淺灰色）
// 按鈕：#D9A600（金色/銅色）
